<TABLE>
    <TR VALIGN=TOP>
        <TD>
            <TABLE WIDTH=100>
                <TR><TH><A HREF="<?=o(HOME_URL)?>admin/sites_list.php" class="free_bets_title" >List Sites</A></TH></TR>
                <TR><TH><A HREF="<?=HOME_URL?>admin/site_new.php" class="free_bets_title" >New Site</A></TH></TR>
                <TR><TH><HR WIDTH=10%></TH></TR>
                <TR><TH><A HREF="<?=HOME_URL?>admin/offers_list.php" class="free_bets_title" >List Offers</A></TH></TR>
                <TR><TH><A HREF="<?=HOME_URL?>admin/offer_new.php" class="free_bets_title" >New Offer</A></TH></TR>
                <TR><TH><HR WIDTH=10%></TH></TR>
                <TR><TH><A HREF="<?=HOME_URL?>admin/cat_list.php" class="free_bets_title" >List Category</A></TH></TR>
                <TR><TH><A HREF="<?=HOME_URL?>admin/cat_new.php" class="free_bets_title" >New Category</A></TH></TR>
                <TR><TH><HR WIDTH=10%></TH></TR>
                <TR><TH><A HREF="<?=HOME_URL?>admin/articles_list.php" class="free_bets_title" >List Articles</A></TH></TR>
                <TR><TH><A HREF="<?=HOME_URL?>admin/articles_new.php" class="free_bets_title" >New Article</A></TH></TR>
                <TR><TH><HR WIDTH=10%></TH></TR>
                <TR><TH><A HREF="<?=HOME_URL?>admin/log_view_list.php" class="free_bets_title" >Log View</A></TH></TR>
                <TR><TH><A HREF="<?=HOME_URL?>admin/log_click_list.php" class="free_bets_title" >Log Click</A></TH></TR>
                <TR><TH><A HREF="<?=HOME_URL?>admin/log_entry_list.php" class="free_bets_title" >Log Entry</A></TH></TR>
            </TABLE>
        </TD>
        <TD WIDTH=800>
            