Welcome to Free Bets Guide, where we list all the free bets and bonuses from the best online sportsbooks and casinos just for you. Choose one of our free bets from the categories on the left, or choose one from the quick lists on the right. If you know of a free bet that isn't listed on this site, or one that is longer valid, feel free to contact <A HREF="mailto:contact@free-bets-guide.com">Free-Bets-Guide.com</A>.
<P>
<HR width=10%>
<A HREF="<?=HOME_URL?>articles/<?=o($ART[TITLE])?>.html"><h3><?=o($ART[TITLE])?></h3></A>
<?=o($ART[SHORT])?><BR>
...<BR>
<A HREF="<?=HOME_URL?>articles/<?=o($ART[TITLE])?>.html">READ MORE</A>
<P>
<HR width=10%>

<A NAME="topten">
<h2 class="PageTitle">Top Ten Free Bet Offers</h2>

<?php
$count = 0;
while ($row = db_fetch($QID))
{
$count++;
?>

<table width="500" border="0" cellspacing="0" cellpadding="4" bordercolor="#CCCCCC">
    <tr>
        <td bgcolor="#0066CC" VALIGN="middle">
            <TABLE border="0" cellspacing="0" cellpadding="0" WIDTH=100%>
                <TR VALIGN="middle">
                    <TD ALIGN=LEFT VALIGN="middle">
                        <a href="<?=HOME_URL?>link.php?ID=<?=o($row[ID])?>&OFFER_ID=<?=o($row[OFFER_ID])?>"  class="free_bets_title" onMouseOver="window.status='http://<?=o($row[DISPLAY_URL])?>/'; return true" onMouseOut="window.status='Done'; return true">
                            <?=o($row[OFFER])?> - <?=o($row[NAME])?>
                        </a>
                    </TD>
                    <TD ALIGN=RIGHT VALIGN="middle">
                        <?
                        $cat_qid = offers_cat($row[OFFER_ID]);
                        while ($cat = db_fetch($cat_qid))
                        {
                            ?>
                            &nbsp;<IMG SRC="<?=$cat[IMG]?>" ALT="<?=o($cat[CATEGORY])?> - <?=o($cat[CAT_DESC])?>">
                            <?
                        }
                        ?>
                        <A HREF="<?=HOME_URL?><?=o($row[NAME])?> free bets.html" class="free_bets_title" >More Info</A>
                    </TD>
                </TR>
            </TABLE>
        </td>
    </tr>
    <tr> 
        <td bordercolor="#F5F5F5" bgcolor="#F5F5F5"> 
            <table width="6%" border="0" cellspacing="0" cellpadding="0" align="right">
                <tr> 
                    <td>
                        <A HREF="<?=HOME_URL?>link.php?ID=<?=o($row[ID])?>&OFFER_ID=<?=o($row[OFFER_ID])?>"  onMouseOver="window.status='http://<?=o($row[DISPLAY_URL])?>/'; return true" onMouseOut="window.status='Done'; return true">
                            <img src="<?=HOME_URL?>img.php?ID=<?=o($row[ID])?>" border="0">
                        </A>
                    </td>
                </tr>
            </table>
            <?=o($row[OFFER_DESCRIPTION])?>
            <P>
            <?=o($row[SITE_DESCRIPTION])?>
            <a href="<?=HOME_URL?>link.php?ID=<?=o($row[ID])?>&OFFER_ID=<?=o($row[OFFER_ID])?>"  onMouseOver="window.status='http://<?=o($row[DISPLAY_URL])?>/'; return true" onMouseOut="window.status='Done'; return true">
                <?=o($row[DISPLAY_URL])?>
            </A>
        </td>
    </tr>
</table>
<HR WIDTH=25%>

<?php 
    if ($count >= 10) break;
} 
?>