<h1>Discover the Secrets that the Bookies DO NOT Want You to Know…</h1>

<h2>Could You Use An Extra &pound;1,000<BR>
Un-taxable CASH?</h2>
<P>
Would you be interested in a way of generating over £1,000.00 extra cash risk-free? 
<P>
Supposing this cash was also un-taxable? Wouldn't that be a bonus? What would you be prepared to do for £1000 in £50 notes, right in your hand? How does one hour of easy work sound? I know what you're thinking, I couldn't believe it either when I was told about it.
<P>
A good friend told me about this method. My first reaction was; "Come off it! You can't make money like that - it's just not possible." Then he showed me his statements and meticulous records. Sure enough, there was the money.
<P>
Then he told me the clincher:           
<P>
The Inland Revenue knew about the cash, but didn't
want a penny in tax - then, or ever!
<P>

After closely questioning my friend for many hours over several evenings I adopted the method myself, but not before I had contacted an independent third party to verify the results. I openly admit, being the most sceptical person you could meet, that I had been trying to find the 'catch'.
<P>

<h2>Not 'Get Rich Quick'</h2>

           
Now let me say something immediately about this system. It is NOT a 'Get Rich Quick' scheme. I have tried dozens of those over the years. I've bought at least twenty manuals telling me how to run various schemes and fantasies. None of them worked. They were all a waste of money. They all promised I would get rich by using their method. I should have known better. They promised £1 million and other crazy figures like £50,000.00 every month. Bonkers! But my greed and curiosity got the better of me, and so I kept buying manuals. I guess the only people who made money were the writers of those manuals. 
<P>
Using my method, you will not 'Get Rich Quick' - I guarantee that (as the manuals say!). Though I guarantee you will make some money.  <B>This is easy.</B> Anyone can do this if they follow my system to the letter. If you're after a million or two, then this system is not for you so keep buying the manuals. But…
<P>
If you want an extra £1000 cash,<BR>
then this is your answer.

<P>
Just before I tell you what my method is, could I please, please ask you not to make the mistake I nearly made. The bottom-line is, I was a smart-ass who thought he knew it all. That bit of arrogance nearly caused me to miss out on this little earner. If my friend hadn't been persuasive, I would have left it there and then, smug in the knowledge that he was a fool, and I was the clever one. How wrong I would have been.
<P>
          So leave all your prejudices behind for a moment. Keep your mind wide, wide open, and let me lay the secret on you. It is a method of betting on sports - and taking out insurance so you can't lose.
<P>
Are you thinking exactly like I was? "No chance!", "Mug's game." "Odds are stacked against you." "It's a way to lose everything you own!" Are all those tired clichés crowding your mind, like they did with me? Do you have the humility to admit, like I did, that really you know nothing about sports gambling and the most you have ever had is a few mug-punter 'flutters'? If you can get over this first hurdle admitting your ignorance- - then you are on your way to guaranteed cash.
<P>
          Let me dispel any strange notions you might have (like I did) about sports gambling:

<P>
Do you know a lot about horse-racing or sports, study the form or the leagues and follow the seasons? No? Great. Although these people are better than 'mug punters' they almost all lose long-term. 
<P>
          I knew absolutely nothing about gambling when my friend disclosed his system. I had never gambled in my life. Apparently, that made me perfect for this system. The less you know about the event, the better. In fact, if you just obeyed my instructions like an emotionless robot, that would be just perfect.
<P>
The system I operate successfully requires you to place bets under instructions (you don't even have to care about the event). The odds on these bets are carefully calculated (not by you) to ensure that you can't ever lose. That's it. I'll tell you more details in a moment.
<P>
Next, I have to admit to being a bit of a snob. The idea of sitting around in smoke-filled bookies' shops with loads of cloth-cap wearing, roll-up smoking, dole-claimants filled me with dread. If you feel like this, let me put you at ease. All bets are placed online. So the 'work' I referred to is simply connecting to the internet to place your wager. There is nothing more to do apart from collecting your winnings.
<P>

<h3>Start For Very Little Money</h3>

My next objection was money. (It's amazing how I was attacking this 'gift on a plate' with objection after objection! But I had years of scepticism to overcome.) Does this cost a lot to get started? Answer? No. You will need about £100 to set yourself up. That's just four days of average profits!
<P>
          If £100 is an 'impossible dream' for you financially, then let me give you a free gift, here and now. Abandon all thoughts of making money, getting rich and making it big-time. Do not buy any more manuals or schemes. Your only alternative is to work in a normal job until you have saved a little towards your freedom. There is no business, no idea, no scheme you can test for less than this one. Typically, even a simple idea costs over £5000.00 to try out properly. This one costs far less. More importantly, this works!
<P>
          Being an intelligent bloke, the next objection which sprang to mind was something like this: "Surely the odds are always stacked in favour of the bookies. You can't win, long-term."
<P>
<B>Wrong.</B>
<P>
          Sorry to be so blunt, but that's the simple truth. Hundreds of people (myself included) made a tidy sum from this gambling system, but we are truly insignificant compared to the tidal-wave of mug-money which smashes into the bookies every year - they can hardly bank it fast enough. Also, the odds are not always stacked in favour of the bookies. Far from it.

<P>

<h3>You Can Do This Too!</h3>

The real purpose of this is to sell you my guide on sportsbook gambling. The guide costs just £20. This payment can be held in escrow meaning, you easily get your money back if the guide doesn't work, but I know it works.
<P>
I am not selling this course out of altruism, to 'help' you. I am not doing it because: "I made my pile years ago, and now want to help others". That's bullshit. I haven't made my pile yet! I'm doing this for the money, plain and simple. I've got the inside information on a superb system of cash-generation. It works. But you need the exact method. You also need the discipline to follow the method - to the letter. Can you do this? Do you have what it takes? 
<P>

<h3>Now a quick word about 'luck'.</h3>

          There is no such thing as good or bad luck as such and you'd better start believing it if you want that cash! Luck is nothing more than statistics in action. Over the period of a human lifetime, good and bad luck tend to even out, leaving a net effect of zero. You'll find £100 one day, and lose £100 three years later. That's the way it goes. You cannot make money relying on 'luck' by playing games of pure chance. Examples of such games are fruit machines, the lottery, premium bonds and roulette. No pro-gambler would soil his hands with these mug games because you cannot win, long-term. Pro-gamblers stick to games with the odds slightly in their favour.
<P>
          Are you a gambler by nature? Do you play fruit machines in pubs, bingo on holiday and visit casinos? Yes? This is bad news. You don't do these things? Great. Normal gamblers (known as losers) bet on hunches, whims, mystical 'feelings' and 'dead certs'. They switch their bets because of the shape of tea-leaves in a cup, or their horoscope for the day. Bad, bad, bad. To get this cash you must be strong-willed and cold as ice - just bet exactly as you are told to bet. You must eradicate all feelings, whims and desires from your gambling (do what you like in your private life!). 
<P>

<h3>This Is a Great Chance</h3>

          I have given you enough to decide if this is for you. I got into this business through a close friend. He kindly spent about ten hours with me (over several evenings) talking me through the method, showing me examples and guiding me until I got the idea. Ideally I should do this one-to-one with you, but the next best thing is an easy to follow guide, and help via instant messenger. It is all online with a betting calculator and costs £20 - that's just the price of a weekly travel ticket. You also get access to me via instant messenger to help walk you through. The guide gets you going straight away. My intention is that you should pay for the guide out of your winnings, so it costs you nothing. This way, there is no risk. If you don't make any money you don't pay for my guide, simple.
<P>
          The guide teaches you everything you need to know to operate this system, assuming absolutely zero prior knowledge of sports gambling. You need to know that sports have winners, loses and sometimes draws, but after that, I assume nothing!
<P>
<h3>Anyone Can Do This! </h3>

          The guide is easy to read, and teach you the secrets in a step-by-step method. You can be any age (over eighteen) to operate this system. Old or young, male or female, active or disabled. That's the great thing about it! Anyone can do it. You don't need special intelligence or abilities. 
<P>
          Everything is explained in the guide down to the smallest detail. Of course, you can prove the system works before you place a penny. Just 'dry' bet. That means put monopoly money (pretend) on the event and keep a log of wins -v- losses. Believe me, you'll soon be putting real money on when you see the results! Start small, build up confidence, get bigger. That's what I did. My first bet was just £10. (But thats how I knew how the system worked and kept on placing small regular bets according to instructions. The rest is history.)
<P>
If you don't like the guide for any reason and at any time, you can simply cancel without penalty and get a refund.
<P>
Here’s a genuine unsolicited testimonial from a customer:
<P>
<I>
May I express my many thanks to you for an excellent service, from which I continue to profit on almost a daily basis. Keep up the good work and may you continue to prosper.
<P>
 

My Best Regards,
<P>
 

Jack E. Harper. (London UK)
</I>
<P>
Why not start to make a difference to your life? Try something new and exciting. (I haven't even mentioned the buzz you get when your team comes in!) Life is a bit drab nowadays and this certainly livens things up! Why not give it a try? The risk is next to nothing, and the potential reward is that extra grand. Sign up NOW, today, before the moment passes and you forget. This is a unique chance. 
<P>

 

In a matter of minutes you can start to learn the things it took me a while to figure out...all in the comfort of your own home.
 <P>
It really is possible to make an extra £1000 cash with this system.


<P>



<h3>Money Back Guarantee</h3>
Try out the 'Free Bets Guide' in your home for 14 days. If you are not 100% satisfied or do not want to continue for any reason or do not make any money (very unlikely), then simply e-mail us for a prompt and full refund.
<P>
  

To purchase the guide you can safely buy it with <A HREF="https://www.moneybookers.com/app/?rid=954402"  >Moneybookers</A> Escrow
<P>
<A HREF="https://www.moneybookers.com/app/?rid=954402" >Moneybookers</A> enables any business or consumer with an email address to securely and cost-effectively send and receive payments online – in real-time!
<P>
The email address to send to is <A HREF="mailto:guide@free-bets-guide.com">guide@free-bets-guide.com</A>
<P>
Once you have placed the money in escrow email <A HREF="mailto:guide@free-bets-guide.com">guide@free-bets-guide.com</A> for your login details to the guide. If your not happy within 14days, just cancel the escrow for a full refund, no questions asked!