Welcome to Free Bets Guide, where we list all the free bets and bonuses from the best online sportsbooks and casinos just for you. Choose one of our free bets from the categories on the left, or choose one from the quick lists on the right. If you know of a free bet that isn't listed on this site, or one that is no longer valid, feel free to contact <A HREF="mailto:contact@free-bets-guide.com">Free-Bets-Guide.com</A>.
<P>
Free Bets Guide promotes the idea of betting responsibly. Betting can be great entertainment, provided you stay in control. If you find yourself in difficulties please contact <A HREF="http://www.gamcare.co.uk/">www.gamcare.co.uk</A> where you can find support, information and advice to you or anyone else suffering a gambling problem.
<HR width=10%>
<A HREF="<?=HOME_URL?>articles/<?=urlencode($ART[TITLE])?>/"><h3><?=o($ART[TITLE])?></h3></A>
<?=o($ART[SHORT])?><BR>
...<BR>
<A HREF="<?=HOME_URL?>articles/<?=urlencode($ART[TITLE])?>/">READ MORE</A>
<P>
<HR width=10%>
<A NAME="topten">
<h2 class="PageTitle">Top Ten Free Bet Offers</h2>

