<DIV ALIGN=left>
<H1>Free Cash</H1>
This is no trick
<P>
Below you will find a techinque on how to score cash for free. A risk free investment into getting more cash. It won't make you rich as you can only do it once but its an easy way to <B>score over &pound;500!</B>
<P>
Many bookmakers offer free bets as a sign on inducement or to encourage people onto their sites during particular sporting events. Like all the examples on the left. <br />
<br />
Normally you have to bet these bonuses on an event with an element of risk, but there is a way using simple maths to negate the risk and collect the free bet as cash no matter what the outcome of the event is.
<P>
The way to do is to use whats called a 'lay' bet at a betting exchange. A betting exchange is a marketplace where punters make with other punters and the house takes a commission. This is where you can be a bookmaker for somebody else, this is whats called a lay bet.


<h2>Summary</h2>
<ul>
<li>The trick is to back at the bookie and lay at the betting exchange for the same event.
<li>A back is like a normal bet, you're betting that the event will happen.
<li>A lay is a reverse bet, you're the bookmaker, so you're betting the event won't happen.
<li>When you combine the two they cancel each other and you end up even.
<li>Normally this is useless for normal gambling, but when there are free bets involved, it allows you to collect the free bet as good as cash!
</ul>

<H2>Here is an example</H2>
When you make a bet with a bookmaker, you place a stake on an event at particular odds. For example if you were to put £10 on a bet on Team A winning a football match at 2/1 (decimal odds 3.0), if you were to win the bet you would receive a total of £30 back, i.e. your stake of £10 plus the bookie’s £20. However if you lost, the bookie would gain your £10 and you would receive back nothing.
<P>
Quick note about odds: There are few types of odds display around but generally the two main used are fractional and decimal. A fractional odds appear as one number divided by the other. For example '2/1'. This represents the profit you would make if you won. If you bet 10 units on this you would win 20 units and get your original stake back of 10 units for a total of 30 units. Decimal odds are displayed as just a number with a decimal point. For example '2.5'. This number represents your total return, ie if you bet 10 units, you would receive 25 units back. We work with decimal odds as its easier and quicker to compare odds with each other in this format. To conver fractional to decimal you take the top divided by the bottom and add one. For example the decimal equivalant of 2/1 is 2 div 1 + 1 = 3.0
<P>
Now imagine you are yourself a bookmaker. In this case you could also offer the same odds to someone for the same outcome (team A to win the match), gaining £10 if the punter loses, but risking £20 of your own money. This is known as 'laying' a bet.<br />
<br />
So if you were both to bet on the event and act as a bookmaker at the same time, something interesting happens: whatever the outcome, the bet side and the lay side of the bet cancel out completely:<br />
<br />
<u>Outcome 1 (bet won - Team A wins): </u><br />
<br />
<i>You win £30, i.e. your stake of £10 plus £20 profit.<br />
Bookmaker loses £20<br />
<br />
If you are both the punter and the bookmaker, your total profit is:<br />
(£30-£10) - £20 = £0</i><br />
<br />
<u>Outcome 2 (bet lost - Team A does not win (draws or loses))</u><br />
<br />
<i>You lose £10, i.e. your stake.<br />
Bookmaker gains £10,<br />
<br />
If you are both the punter and the bookmaker, your total profit is:<br />
<br />
£10 - £10 = £0</i><br />
<br />
So you can see that in both cases, both the lay and the bet cancel each other out. You neither lose nor gain money.<br />
Obviously this is useless for normal betting, but it is extraordinarily useful when going after bookmaker’s bonuses, as it allows you to place a completely risk free qualifying bet on any event you can both bet on and lay a bet on. And then if you repeat the same thing with a free bet stake, you will always magically come out with a profit that is roughly equal to the free bet stake – you can prove this to yourself by working out the profit and loss on both sides of a free bet. Taking the same odds as an example and assuming a £10 free bet.<br />
<br />
<u>Outcome 1 (Team A wins):</u><br />
<br />
<i>You bet the free bet of £10 at 3.0. Return is £30 with no outlay to you. On the lay side, your loss is £20, as before. Thus overall profit = £30 - £20 = £10.</i><br />
<br />
<br />
<u>Outcome 2 (bet lost - Team A loses or draws)</u><br />
<br />
<i>Your loss on the bet side is zero (as the bet was free). You gain the punter's stake of £10 on the lay side.</i><br />
<br />
So regardless of the outcome, you have made £10.<br />
Now in practice this is rarely quite as neat as the example. To lay bets, you use betting exchanges, and these generally never offer lay odds which are the same as those at bookies. Also there is a commission of between 1% to 5% payable on winnings at the bet exchange. Even so, it’s easy to use the technique to qualify for a free bet with a very small loss, and then to match out most of the free stake money without any risk at all. <br />
<br />
The other slight complication is that sometimes free bet offers do not return the stake with winnings. This alters the calculations a little, but you can still make guaranteed money by looking for events with relatively high odds (above about 3.0) and a close match for a lay. You should be able to clear about 60-75% of the free bet amount.<br />
<br />
<P>
<H2>Free cash for dummies: step by step guide</H2>

<H3>1. Signup to an exchange</H3>
First you will need to signup to a betting exchange.<BR>
We recommend to signup to <A HREF="http://www.free-bets-guide.com/BETDAQ free bets.html" >BETDAQ</A> as they have one of the lowest commission of only 3%
<H3>2. Locate a free bet</H3>
Pick a free bet on the left hand side or one of the top ten from<A HREF="http://www.free-bets-guide.com/" >this</A> page.<BR>
Be sure to read the 'More info' link to see how to collect the bet and to see if stake is returned with winnings.<BR>
If it doesn't say, it usually is but if you want to be sure you can always email them and ask.<BR>
Bonus stake returned with winnings or not determines how much of the free bet you will be able cash in. The difference is as follows: if the odds are 3.0 and the stake is returned with winnings as normal you will win 30 on a bet of 10, if the stake isn't returned you win 20. Depending on this and some maths will determine the percentage of the free bet you will be able to actually cash out.
<P>
If the stake is returned you will get around 90-100% of the free bonus bet<BR>
If the stake isn't returned you will see around 60-80% of the free bonus bet<BR>

<H3>3. Make the qualifing bet</H3>
All bookies will require you to make a qualifing bet to get the bonus<BR>
This will involve making a bet with your own money<BR>
But don't fear, you will be taking out insurance to cover any loss<BR>
Look for a sporting event, football(soccer) is usually a good one that is in both the exchange and the bookie<BR>
Find a match where the odds to back are as close as the can be to the odds to lay<BR>
Say you find an Arsenal vs Man Utd game and Arsenal to win is 2.2 at the bookie and 2.25 at the exchange<BR>
You plug those figures into the <A HREF="matcher.xls">spreadsheet</A><BR> 
You plug in the value of your qualifing bet<BR>
You put in 0 for the stake forfeit as its your qualyfing bet and your stake is returned always<BR>
The value in bold is the stake you lay for at the bookie<BR>
It will also tell you your risk at the exchange, you will need that much in your account to make the bet
You will usually need more cash at the exchange then at the bookie<BR>
The <A HREF="matcher.xls">spreadsheet</A> tells you how much you will need at the exchange<BR>
What you are doing is covering your losses<BR>
Remember the closer the odds the less you will loose out of your money to qualify<BR>
If you manage to find one where the back odds are higher then the lay, then take it straight away, that is whats called an arb<BR>
It will make you money on this bet if the percentage difference is bigger then the commission, its a risk free bet and is like finding gold<BR>
If you can't find an arb don't sweat it, they are hard to find, just get as close as you can<BR>
Sit back and wait for the game<BR>
<P>
<H3>4. Collecting the bonus bet</H3>
Now some places give you the bonus bet straight after you made your qualifing bet
or they may wait a day after its closed it depends<BR>
Now after your first bet one of 2 things has happened<BR>
You won at the bookie and lost at the exchange<BR>
You won at the exchange and lost at the bookie<BR>
Either way you've got a bonus bet<BR>
More then likely, you've won at the exchange and that is preferable<BR>
As you need more money in there for further bonus colleting<BR>
But to collect the bonus<BR>
You just can't withdraw it usually as its a free bet and not cashback<BR>
But what you do is do like before and find a game with the closest odds as possible<BR>
<B>But one extra rule!</B><BR>
If the stake isn't returned find the highest matching odds you can<BR>
This is because the higher odds let you liquidfy more of the free bonus bet<BR>
Test out in the <A HREF="matcher.xls">spreadsheet</A><BR>
Put in the bonus bet and if the stake isn't returned put in the bonus bet amount into that box<BR>
Try out various odds but you will see higher is better if the stake isn't returned<BR>
If the stake is returned, just find the closest odds<BR>
Make the bet at the bookie and the exchange like before<BR>
After the bets have paid withdraw the money if at the booker repeat and if its at the exchange, just repeat with a new bet <A HREF="http://www.free-bets-guide.com/">here</A>
</DIV>