<TABLE border="1" cellspacing="1" cellpadding="3">
    <TR>
        <TD CLASS="menu1"><A HREF="<?=HOME_URL?>" CLASS="menu1">Home</A></TD>
        <TD CLASS="menu1"><A HREF="<?=HOME_URL?>articles/" CLASS="menu1">Articles</A></TD>
<!--        <TD CLASS="menu1"><A HREF="<?=HOME_URL?>guide.php" CLASS="menu1">Guide</A></TD> -->
        <TD CLASS="menu1"><A HREF="<?=HOME_URL?>cat_offers.php" CLASS="menu1">All Offers</A></TD>
        <TD CLASS="menu1"><A HREF="<?=HOME_URL?>newest.php" CLASS="menu1">Latest Offers</A></TD>
        <TD CLASS="menu1"><A HREF="<?=HOME_URL?>cat_sites.php" CLASS="menu1">Sites</A></TD>
        <TD CLASS="menu1" WIDTH=100%>&nbsp;</TD>
        <TD CLASS="menu1"><A HREF="<?=HOME_URL?>links.php" CLASS="menu1">Links</A></TD>
        <TD CLASS="menu1"><A HREF="mailto:contact@free-bets-guide.com" CLASS="menu1">Contact</A></TD>
    </TR>
</TABLE>
