<DIV ALIGN=left>
<H2>Here is an example</H2>
When you make a bet with a bookmaker, you place a stake on an event at particular odds. For example if you were to put £10 on a bet on Team A winning a football match at 2/1 (decimal odds 3.0), if you were to win the bet you would receive a total of £30 back, i.e. your stake of £10 plus the bookie’s £20. However if you lost, the bookie would gain your £10 and you would receive back nothing.
<P>
<A HREF="http://www.free-bets-guide.com/articles/Different%20Odds%20Display%20Styles.html">Quick note about odds</A>
<P>
Now imagine you are yourself a bookmaker. In this case you could also offer the same odds to someone for the same outcome (team A to win the match), gaining £10 if the punter loses, but risking £20 of your own money. This is known as 'laying' a bet.<br />
<br />
So if you were both to bet on the event and act as a bookmaker at the same time, something interesting happens: whatever the outcome, the bet side and the lay side of the bet cancel out completely:<br />
<br />
<u>Outcome 1 (bet won - Team A wins): </u><br />
<br />
<i>You win £30, i.e. your stake of £10 plus £20 profit.<br />
Bookmaker loses £20<br />
<br />
If you are both the punter and the bookmaker, your total profit is:<br />
(£30-£10) - £20 = £0</i><br />
<br />
<u>Outcome 2 (bet lost - Team A does not win (draws or loses))</u><br />
<br />
<i>You lose £10, i.e. your stake.<br />
Bookmaker gains £10,<br />
<br />
If you are both the punter and the bookmaker, your total profit is:<br />
<br />
£10 - £10 = £0</i><br />
<br />
So you can see that in both cases, both the lay and the bet cancel each other out. You neither lose nor gain money.
<P>
Obviously this is useless for normal betting, but it is extraordinarily useful when going after bookmaker’s bonuses, as it allows you to place a completely risk free qualifying bet on any event you can both bet on and lay a bet on. And then if you repeat the same thing with a free bet stake, you will always magically come out with a profit that is roughly equal to the free bet stake – you can prove this to yourself by working out the profit and loss on both sides of a free bet. Taking the same odds as an example and assuming a £10 free bet.<br />
<br />
<u>Outcome 1 (Team A wins):</u><br />
<br />
<i>You bet the free bet of £10 at 3.0. Return is £30 with no outlay to you. On the lay side, your loss is £20, as before. Thus overall profit = £30 - £20 = £10.</i><br />
<br />
<br />
<u>Outcome 2 (bet lost - Team A loses or draws)</u><br />
<br />
<i>Your loss on the bet side is zero (as the bet was free). You gain the punter's stake of £10 on the lay side.</i><br />
<br />
So regardless of the outcome, you have made £10.<br />
Now in practice this is rarely quite as neat as the example. To lay bets, you use betting exchanges, and these generally never offer lay odds which are the same as those at bookies. Also there is a commission of between 1% to 5% payable on winnings at the bet exchange. Even so, it’s easy to use the technique to qualify for a free bet with a very small loss, and then to match out most of the free stake money without any risk at all. <br />
<br />
The other slight complication is that sometimes free bet offers do not return the stake with winnings. This alters the calculations a little, but you can still make guaranteed money by looking for events with relatively high odds (above about 3.0) and a close match for a lay. You should be able to clear about 60-75% of the free bet amount.<br />

</DIV>