<DIV ALIGN=left>
<H2>Step by step guide</H2>

<H3>1. Signup to an exchange</H3>
First you will need to signup to a betting exchange.<BR>
We recommend <A HREF="http://www.free-bets-guide.com/BETDAQ free bets.html" >BETDAQ</A> as they have one of the lowest commission of only 3%.
<H3>2. Locate a free bet</H3>
Pick a free bet from the menu on the left or one of the top ten from <A HREF="http://www.free-bets-guide.com/" >this</A> page. Be sure to read the 'More info' link of the free bet offer to see how to collect the bet and to see if stake is returned with winnings. If it doesn't say, it usually is but if you want to be sure you can always email them and ask.
<P>
Having the bonus stake returned with winnings or not determines how much of the free bet you will be able cash in. The difference is as follows: if the odds are 3.0 and the stake is returned with winnings as normal, you will get back 30 on a bet of 10, if the stake isn't returned you get 20. Depending on this, and some maths, will determine the percentage of the free bet you will be able to actually cash out. Generally if the stake isn't returned you want to look for odds that are close but above at least 3.0, the higher the better. If the stake is returned just look for odds that are close as possible.
<P>
If the stake is returned you will get around 90-100% of the free bonus bet.<BR>
If the stake isn't returned you will see around 60-80% of the free bonus bet.<BR>

<H3>3. Make the qualifying bet</H3>
All bookies will require you to make a qualifying bet to get the bonus. This will involve making a bet with your own money, but don't fear, you will be taking out insurance to cover any loss.
<P>
Look for a sporting event, football (soccer) is usually a good one that is offered at both the exchange and the bookie. Find a match where the odds to back are as close as possible to the odds to lay:
<P>
Say you find an Arsenal vs Man Utd game and Arsenal to win is 2.2 at the bookie and 2.25 at the exchange and we are doing a &pound;25 qualifying bet.
<P>
You will need to use the <A HREF="calc.php" >calculator</A>.
<P> 
You plug in the value of your qualifying bet in the 'bet size' field, in this case 25.
<P>
Check 'yes' in the field marked 'stake returned', as your stake will always be returned on a bet made with your own money.
<P>
For the 'back odds' field you put in 2.2, or whatever the odds are at the bookie you're making the qualifying bet with.
<P>
For the 'lay odds' field you put in 2.25, or whatever the odds you can easily take at the exchange are.
<P>
Stick in your commission rate, in this case if your using BETDAQ its 3%.
<P>
Press submit to get the results page.
<P>
The value in bold (the 'lay amount') is the stake you lay for at the bookie. In this case, it's 24.77.
<P>
The calculator will also tell you your risk at the exchange, you will need that much in your account to make the bet (you will usually need more cash at the exchange than at the bookie). The risk is the amount that you will pay out if you lose at the exchange, in this case 30.97, and the lay amount is the amount you will receive if you win at the exchange.
<P>
The 'lay risk' tells you how much you will need at the exchange to cover a payout if you lose. You will need to deposit at least this amount into your account at the exchange to make the bet. Remember, the closer the odds the less you will lose out of your money to qualify. If you manage to find one where the back odds are higher than the lay, then take it straight away, that is what's called an arbitrage. It will make you money on this bet if the percentage difference is bigger then the commission, it's a risk free bet and is like finding gold. If you can't find an arb don't sweat it, they are hard to find, just get odds as close as you can.
<P>
Sit back and wait for the game!
<P>
<H3>4. Collecting the bonus bet</H3>
Now some places give you the bonus bet straight after you made your qualifying bet, or they may wait a day or two after it's settled, or you may receive it as a bonus deposit. Each bookie has different rules.
<P>
Now after your first bet one of 2 things has happened:-<BR>
You won at the bookie and lost at the exchange.<BR>
You won at the exchange and lost at the bookie.
<P>
Either way you should now have a bonus bet to play with. More than likely, you've won at the exchange and that is preferable as you need more money in there for further bonus collecting. You just can't withdraw the bonus as it's usually offered as a free bet and not cashback. So, you need to find another game to wager on with as close odds as possible and do it all again.
<P>
<B>But one extra rule!</B><BR>
If the stake isn't returned find the highest matching odds you can, at least greater than 3.0.  This is because the higher odds let you collect a greater percentage of the free bonus bet then lower odds. You can test it out using the <A HREF="calc.php" >calculator</A>. Enter the bonus bet amount and, if the stake isn't returned check 'no' in the 'stake returned' field. Try out various odds and you will find sometimes higher less matching odds are better then lower close matching odds if the stake isn't returned. Also remember, the higher the odds the more you will need at the exchange to cover it whether stake returned or not. 
<P>
If the stake is returned, just find the closest matching odds like with your qualyfing bet, then make the bet at the bookie and the lay at the exchange just like before. 
<P>
If the stake isn't returned you will probably be able to only collect 60-75% of the free bet stake, but if the stake is returned, you should easily be able to collect over %95 of it. In the <A HREF="calc.php" >calculator</A> it's represented as a percentage of the stake. If the stake isn't returned you want the number to be greater (more positive) then -35%, while if the stake is returned you want it to be greater then -6%. If the number is a positive, it means your making money on this bet, no matter what the outcome, and I would highly recommend you take this bet straight away before the odds change. This is whats called an arbitrage bet, a bet that makes money no matter what the outcome. To achieve this you would need odds higher at the bookie then at the exchange, which doesn't happen that often. That will be for another guide
<P>
After the bets have paid, withdraw the money if you won at the bookie and repeat with a new free bet from a new bookie. 
<P>
If you won at the exchange you won't need to withdraw as your ready to collect the next one.
<P>
If you need any help or a walkthru doing your first match, don't hesitate to use the contact link found at the top.
</DIV>