<DIV ALIGN=left>
<H1>Free Cash</H1>
This is no trick.
<P>
Below you will find a techinque on how to score cash for free. A risk free investment into getting more cash. It won't make you rich as you can only do it once but its an easy way to <B>score over &pound;500!</B>
<P>
Many bookmakers offer free bets as a sign-on inducement or to encourage people onto their sites during particular sporting events. Like all the examples on the left. <br />
<br />
Normally you have to bet these bonuses on an event with an element of risk, but there is a way using simple maths to negate the risk and collect the free bet as cash no matter what the outcome of the event is.
<P>
The way to do is to use what's called a 'lay' bet at a betting exchange. A betting exchange is a marketplace where punters make bets with other punters and the house takes a commission. This is where you can be a bookmaker for somebody else, which is called a lay bet.


<h2>Summary</h2>
<ul>
<li>The trick is to back at the bookie and lay at the betting exchange for the same event.
<li>A back is like a normal bet, you're betting that the event will happen.
<li>A lay is a reverse bet, you're the bookmaker, so you're betting the event won't happen.
<li>When you combine the two they cancel each other and you end up even.
<li>Normally this is useless for normal gambling, but when there are free bets involved, it allows you to collect the free bet as good as cash!
</ul>
</DIV>