<TABLE border="1" cellspacing="1" cellpadding="3">
    <TR>
        <TD CLASS="menu1"><A HREF="<?=HOME_URL?>members/" CLASS="menu1">Introduction</A></TD>
        <TD CLASS="menu1"><A HREF="<?=HOME_URL?>members/example.php" CLASS="menu1">Example</A></TD>
        <TD CLASS="menu1"><A HREF="<?=HOME_URL?>members/guide.php" CLASS="menu1">Step&nbsp;by&nbsp;Step</A></TD>
        <TD CLASS="menu1"><A HREF="<?=HOME_URL?>members/calc.php" CLASS="menu1" >Calculator</A></TD>
        <TD CLASS="menu1" WIDTH=100%>&nbsp;</TD>
    </TR>
</TABLE>